body {
    position: relative;
    background-color: black;
}

.about {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-content: center;
    margin: 50px;
    gap: 35px;
    color: white;
}

.about-section {
    width: 80%;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about h1, .about-section h2 {
    color: #eb0028;
    font-size: 2rem;
}

.about-banner{
    width: 100%;
    max-height: 600px;
    object-fit: cover;
}

.about-title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.about-section .about-img {
    max-height: 30px;
    width: auto;
    object-fit: contain;
}

.see-more {
    display: none;
}

#toggle-btn {
    background-color: black;
    color: #eb0028;
    border: 0;
    text-align: left;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
}

#toggle-btn:hover.more::after  {
    content: ' + ';
}

#toggle-btn:hover.less::after  {
    content: ' - ';
}

@media (max-width: 940px) {
    .about {
        flex-wrap: wrap;
    }
}