body {
  position: relative;
  height: 100%;
}

.events-container {
    display: flex;
    position: relative;
    margin-bottom: 50px;
}

.swiper {
  width: 100%;
  height: 100vh;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slide {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    color: white;
    text-align: center;
}

.slide img {
    max-height: 200px;
}

.history {
    color: white;
    width: 60%;
    margin: 150px auto 100px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    text-align: center;
}

.timeline-container {
    height: 100vh;
    position: sticky;
    top: 0;
    left: 100px;
}

.timeline {
    top: 120px;
    width: 20%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    position: relative;
    padding: 0 20px 20px;
}

.timeline::before {
    content: '';
    position: absolute;
    width: 3px;
    background-color: white;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -5;
  }

.timeline-item {
    margin: -40px 0 50px;
    padding: 10px 20px;
    text-align: center;
    color: #ffffff;
    font-size: 1.3rem;
    border-radius: 5px;
    cursor: pointer;
    transition: ease 2s ease;
    position: relative;
}

.timeline-item.active {
    color: #eb0028;
    font-size: 2rem;
    font-weight: bold;
}

.timeline-item:hover {
    color: #ce0628;
}

.timeline-item::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    right: -27px;
    top: 40%;
    background-color: white;
    border: 3px solid white;
    border-radius: 50%;
}

.timeline-item.active::after {
    background-color: #eb0028;
}