.watch {
    padding-top: 120px;
    background-color: rgb(8, 8, 8);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.videos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 5%;
}

.video {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 500px;
    margin-bottom: 10%;
}

.video .year {
    background-color: #eb0028;
    padding: 8px 18px;
    border-radius: 18px 0;
}

.year-bg {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(8, 8, 8);
    padding: 0 8px 8px 0;
    border-radius: 26px 0;
    border-bottom-width: 3px;
    border-bottom-color: white;
    border-bottom-style: solid;
    border-right-width: 3px;
    border-right-color: white;
    border-right-style: solid;
}

.video > img {
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 18px;
    width: 100%;
    border: white solid 3px;
}

.video-title {
    font-size: calc(14px + 0.6vw);
    padding-top: 10px;
    position: absolute;
    top: 100%;
    color: white;
}

.video-title:hover {
    text-decoration: underline;
}

.btn-bg {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgb(8, 8, 8);
    padding: 8px 0 0 8px;
    border-radius: 26px 0;
    border-top-width: 3px;
    border-top-color: white;
    border-top-style: solid;
    border-left-width: 3px;
    border-left-color: white;
    border-left-style: solid;
}

.video button {
    font-size: calc(12px + 0.6vw);
    display: flex;
    gap: 10px;
    padding: 10px 15px;
    justify-content: space-around;
    align-items: center;
    color: white;
    background-color: rgb(8, 8, 8);
    border-radius: 18px 0;
    border: white solid 3px;
    border-style: solid;
    cursor: pointer;
}


.video button:hover {
    color: rgb(8, 8, 8);
    background-color: white;
}